@import url(root.css);

/* Product list styles */
.product_list {
    display: grid;
    gap: 20px;
}

/* Product item styles */
.product {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-bg);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    transition: box-shadow 0.3s ease;
}

.product:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* Product image */
.product_thumbnail {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 1.5rem;
}

/* Text section: product title and price */
.text_section {
    flex-grow: 1;
}

.product_title {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
    color: var(--font-color);
}

.product_title:hover {
    color: var(--secondary-color);
}

.price {
    font-size: 18px;
    font-weight: bold;
}

.product :has(.new-price) .price {
    text-decoration: line-through;
    font-weight: 300;
}

.product .new-price {
    color: var(--warning-color);
    font-weight: 700;
}

.amount_section {
    display: flex;
    align-items: center;
}

.amount_section input[type="number"] {
    width: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}

.add_btn,
.subtract_btn,
.delete_btn {
    background-color: var(--main-color);
    color: var(--secondary-font-color);
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    transition: background-color 0.3s ease;
}

.add_btn:hover,
.subtract_btn:hover {
    background-color: var(--secondary-color);
}

.delete_btn {
    background-color: var(--warning-color);
}

.delete_btn:hover {
    background-color: #ad0e0e;
}

/* Discount Section */
.input-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--main-bg);
    border-radius: 8px;
}

.discount-input {
    width: 70%;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.apply-btn {
    padding: 8px 16px;
    background-color: var(--main-color);
    color: var(--secondary-font-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.apply-btn:hover {
    background-color: var(--secondary-color);
}

.discount-info {
    margin-bottom: 30px;
    padding: 10px;
    border-bottom: var(--main-color) 3px solid;
    display: flex;
}

#coupon-error {
    color: var(--warning-color);
    margin-top: 10px;
}

.remove-discount-btn {
    margin-right: 30px;
    font-weight: 900;
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    color: var(--warning-color);
}

.remove-discount-btn:hover {
    color: var(--warning-color);
}

/* Separate summary section */
.summary_section {
    width: 100%;
    max-width: 550px;
    margin: 2rem auto;
    background-color: var(--main-bg);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: max-content;
}

.summary_section h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--main-color);
}

.summary_item {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.summary_item.total {
    font-weight: bold;
    font-size: 1.3rem;
    color: var(--main-color);
}

.checkout_btn {
    display: block;
    text-align: center;
    width: 100%;
    padding: 1rem;
    background-color: var(--main-color);
    color: var(--secondary-font-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkout_btn:hover {
    background-color: var(--secondary-color);
}

@media (max-width: 768px) {
    .product {
        flex-direction: column;
        align-items: flex-start;
    }

    .product_thumbnail {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .amount_section {
        width: 100%;
        justify-content: space-between;
        margin-top: 1rem;
    }

    .summary_section {
        padding: 1rem;
    }

    .input-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .discount-input {
        width: 100%;
        margin-bottom: 1rem;
    }

    .apply-btn {
        width: 100%;
    }
}
