@import url(root.css);

.checkout {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

.checkout h2 {
    text-align: center;
    color: var(--font-color);
    margin-bottom: 20px;
}


.checkout-form {
    border-radius: 10px;
    background-color: var(--main-bg);
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)
}

.checkout-form input:required + label::before,
.checkout-form select:required + label::before {
    content: "* ";
    color: var(--warning-color);
}

.form-group {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 15px;
}

.checkbox-group {
    display: flex;
    gap: 20px;
}

.checkbox-group input {
    width: 20px;
    height: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus {
    border-color: #4CAF50;
    outline: none;
}


.checkout-form #captcha-img {
    font-size: 25px;
    font-weight: bold;
    max-width: 450px;
    width: 100%;
    border-radius: 3px;
}

/* Button Styling */
.checkout-btn {
    width: 100%;
    padding: 12px;
    background-color: var(--main-color);
    color: var(--secondary-font-color);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkout-btn:hover {
    background-color: var(--secondary-color);
}

/* Mobile Responsiveness */
@media (max-width: 480px) {
    .checkout {
        padding: 15px;
    }
    .checkout h2 {
        font-size: 24px;
    }
    .checkout-btn {
        font-size: 16px;
    }
}