@import url(root.css);

/* Header section*/
header.welcome-section {
    background-color: var(--secondary-bg);
    color: var(--font-color);
    min-height: 80vh;
}

header.welcome-section .header-content {
    align-items: flex-start ;
    display: grid;
    gap: 50px;
    grid-template-columns: 5fr 6fr;
    justify-content: space-between;
}

/* Left Section: Text */
header.welcome-section .text-section .header-image {
    max-height: 170px;
    width: auto;
    margin-bottom: 20px;
}

header.welcome-section .text-section p {
    font-size: 1.2rem;
    margin: 30px 0;
}

header.welcome-section .button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

header.welcome-section .btn {
    text-align: center;
    padding: 12px 10px;
    width: min(210px, 100%);
    border-radius: 5px;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 2px solid var(--main-color);
}

header.welcome-section .primary-btn {
    background-color: var(--main-color);
    color: var(--secondary-font-color);
}

header.welcome-section .secondary-btn {
    background-color: transparent;
    border: 2px solid var(--main-color);
}

header.welcome-section .primary-btn:hover {
    background-color: transparent ;
    color: var(--font-color);
}

header.welcome-section .secondary-btn:hover {
    background-color: var(--main-color);
    color: var(--secondary-font-color);
}

header.welcome-section .image-section {
    height: 100%;
}

header.welcome-section .image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: right top;
    border-radius: 10px
}

/* Features section */
.features {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

/* Products section */
.products {
    background-color: var(--main-bg);
    min-height: 50vh;
}

.products .products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, min(400px, 100%));
    justify-content: center;
    gap: 50px;
}

.products .product {
    background-color: var(--secondary-bg);
    border-radius: 5px;
    padding: 30px;
    transition: transform 0.5s linear;
}

.products .product:hover,
.products .product:focus {
    transform: scale(1.05);
}

.products .product img {
    width: 100%;
    height: 200px;
    margin-inline: auto;
    object-fit: contain;
    margin-bottom: 40px;
}

.products .product h3 {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 20px;
    border-bottom: solid 2px var(--main-color);
}

.products .product h3:hover {
    cursor: pointer;
    color: var(--secondary-color);
}

.products .product .detail-box {
    display: flex;
}

.products .product .detail-box button {
    margin-left: auto;
    text-align: center;
    border: none;
    color: var(--secondary-font-color);
    height: 30px;
    padding: 6px 4px;
    background-color: var(--main-color);
    border-radius: 5px;
}

.products .product .detail-box button:hover {
    background-color: var(--secondary-color);
}

.products .product div.price_heading {
    font-size: 18px;
    font-weight: bold;
}

.product :has(.new-price) .old-price{
    text-decoration: line-through;
    font-weight: 200;
}

.product .new-price {
    color: var(--warning-color);
}

.product .tax-note {
    font-size: 13px;
} 

.products .see-more-btn {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    color: var(--secondary-font-color);
    width: 150px;
    height: 50px;
    margin-inline: auto;
    background-color: var(--main-color);
    padding: 1px 6px;
    border-radius: 3px;
}

.products .see-more-btn:hover,
.products .product .detail-box a:hover {
    background-color: var(--secondary-color);
}

/*Testimonial svg*/
#testimonial-svg {
    fill: var(--secondary-bg);
}

/* Testimonials section */
.testimonials {
    background-color: var(--secondary-bg);
}

/* Carousel Container */
.testimonials .carousel {
    position: relative;
    width: min(800px, 90%);
    margin: 50px auto;
    height: 400px;
}

.testimonials .carousel-item {
    background-color: var(--main-bg);
    overflow-y: auto; 
    scroll-snap-stop: always;
} 

.testimonials .carousel-item .content {
    display: flex;
    align-items: center;
    min-height: 100%;
    gap: 35px;
}

.testimonials .carousel-item .content h3 {
    color: var(--main-color);
    margin-bottom: 5px;
}

.testimonials .carousel-item .content h4 {
    font-weight: normal;
    font-size: 0.9rem;
    margin-bottom: 25px;
    border-bottom:  solid var(--main-color) 3px;
}

.testimonials .carousel-item .content img{
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 5px solid var(--main-color);
    margin: 20px 0;
}

.testimonials .prev-btn,
.testimonials .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
    color: var(--secondary-font-color);
    background-color: var(--main-color);
}

.testimonials .prev-btn:hover,
.testimonials .next-btn:hover{
    background-color: var(--secondary-color);
}

.testimonials .prev-btn {
    left: -40px;
}

.testimonials .next-btn {
    right: -40px;
}

.testimonials .carousel-indicators {
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    gap: 10px;
    margin-top: 30px;
}

.testimonials .carousel-indicators button{
    width: 15px;
    height: 15px;
    z-index: 99999;
    background-color: transparent;
    border: 2px solid var(--main-color);
}

.testimonials .carousel-indicators .active {
    background-color: var(--main-color);
}

.testimonials .carousel-indicators button:hover,
.testimonials .carousel-indicators button:focus {
    background-color: var(--secondary-color);
}

#contact-svg{
    fill: var(--secondary-bg);
}

/* Contact form*/
.contact-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
    grid-auto-rows: 1fr;
    justify-content: center;
    padding: 70px 30px;
    background-color: var(--main-bg);
}

.contact-form {
    margin-right: 20px; 
}

.contact-form .form-group {
    display: flex;
    gap: 10px;
}

.contact-form label {
    width: 100%; 
    margin-bottom: 5px;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form #reload-captcha-btn:hover {
    font-weight: bold;
    color: var(--main-color);
}

.contact-form #captcha-img {
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 25px;
}

.contact-form button {
    padding: 10px 15px;
    background-color: var(--main-color);
    color: var(--secondary-font-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.contact-form button:hover::after{
    width: 125%;
    background-color: var(--secondary-color);
}

.contact-form button::after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: width 0.6s;
    left: 20px;
    top: 0;
    width: 0;
    height: 100%;
    transform: skewX(-45deg) translateX(-40px);
    pointer-events: none;
}

.map iframe {
    border: none;
    grid-row: 2;
    width: 100%;
    height: calc(100% - 5rem)
}

@media (max-width: 768px) {
    header.welcome-section .text-section > * {
        text-align: center;
        margin-inline: auto;
        align-items: center;
    }
    header.welcome-section .header-content {
        grid-template-columns: 1fr;
    }
    .testimonials .carousel-item .content {
        flex-direction: column;
    }
}