@import url(root.css);

section {
    padding: 20px;
}


h1 {
    text-decoration: underline;
    text-decoration-color: var(--main-color);
    text-decoration-thickness: 10px;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
}

p {
    margin-bottom: 10px;
}