@import url(root.css);

/* Grid Layout for Product Container */
.product-container {
    max-width: 2200px;
    margin-inline: auto;
    padding: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    gap: 40px;
}

/* Product Images */
.product-images {
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    flex-basis: 40%;
}

.image-gallery {
    max-height: 100%;
    margin-top: 10px;
    border-right: 3px var(--main-color) solid;
    padding-right: 2%;
    overflow: auto;
    scroll-snap-type: y mandatory;
    flex-grow: 1;
    max-height: 80vh;
}

.image-gallery .gallery-image {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    object-fit: scale-down;
    margin-bottom: 10px;
    scroll-snap-align: start;
}

.product-images .main-image {
    margin-top: 30px;
    width: 70%;
    height: auto;
    padding-left: 25px;
}

.image-gallery .gallery-image:hover {
    border-color: var(--main-color);
}

/* Product Details */
.product-details {
    padding: 20px;
    padding-left: 50px;
    text-align: left;
    flex-basis: 60%;
}

.product-details h1 {
    font-size: 28px;
    color: var(--font-color);
    margin-bottom: 10px;
}

.price-box {
    margin: 15px 0;
}

.product-details .price-box {
    font-size: 18px;
    font-weight: bold;
}

.product-details :has(.new-price) .old-price{
    text-decoration: line-through;
    font-weight: 300;
}

.product-details .new-price {
    color: var(--warning-color);
}

.availability {
    margin: 10px 0;
    font-size: 16px;
    color: var(--third-font-color);
}

.description {
    margin-bottom: 15px;
    line-height: 1.6;
    color: var(--font-color);
}

/* Product Categories */
.categories a {
    background-color: var(--secondary-bg);
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 10px;
    display: inline-block;
    color: var(--third-font-color);
}

.category-label {
    font-weight: bold;
}

/* Purchase Box */
.purchase-box {
    margin-top: 20px;
}

.purchase-box label {
    margin-right: 10px;
    font-size: 16px;
}

.purchase-box input[type="number"] {
    width: 60px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

.add-to-cart-btn {
    padding: 10px 20px;
    background-color: var(--main-color);
    color: var(--secondary-font-color);
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-to-cart-btn:hover {
    background-color: var(--secondary-color);
    transform: translateY(-2px);
}

/* Tax Note */
.tax-note {
    margin-top: 10px;
    font-size: 14px;
    color: var(--third-font-color);
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .product-container {
        flex-direction: column;
    }
}