@import url(../root.css);


.product-filters {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.product-filters > div, form {
    width: 100%;
}


.product-filters .search-bar input,
.product-filters .sort-options select,
.product-filters .filter-menu select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
}

.products .products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, min(400px, 100%));
    justify-content: center;
    gap: 50px;
}

.products-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: var(--main-bg);
    transition: background-color 0.3s ease;
    width: 100%;
}

.product-item:hover {
    background-color: var(--secondary-bg);
}

.product-thumbnail {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-right: 20px;
}

.product-info {
    flex: 1;
}

.product-info h3 {
    color: var(--main-color);
    font-size: 1.2rem;
    margin: 0;
}

.product-info p {
    font-size: 0.9rem;
    color: var(--third-font-color);
}

.product-price {
    margin-inline: 30px;
    font-size: 1.2rem;
    color: var(--font-color);
    margin-bottom: 5px;
}

.product-price span {
    color: var(--warning-color);
    font-size: 1.1rem;
}

.product-actions {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 8px 15px;
    font-size: 0.9rem;
    color: var(--secondary-font-color);
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

.edit-btn {
    background-color: var(--secondary-color);
}

.delete-btn {
    background-color: var(--warning-color);
}

.view-btn {
    background-color: #2196F3;
}

.id-column {
    margin-right: 20px;
    font-weight: bold;
}