@import url(../root.css);


.edit-product-form {
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 20px;
}

.edit-product-form h2 {
    font-size: 1.6rem;
    color: var(--main-color);
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 1rem;
    color: var(--font-color);
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="file"],
select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: var(--font-color);
    background-color: #f9f9f9;
}

textarea {
    height: 400px;
    width: 100%
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
    border-color: var(--main-color);
    background-color: var(--main-bg);
    outline: none;
}

textarea {
    resize: vertical;
    min-height: 120px;
}

input[type="file"] {
    padding: 0;
}

.current-thumbnail {
    max-width: 150px;
    margin-top: 10px;
    display: block;
}

.form-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 10px 20px;
    font-size: 1rem;
    color: var(--secondary-font-color);
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

.submit-btn {
    background-color: var(--secondary-color);
}

.cancel-btn {
    background-color: #f44336;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--secondary-font-color);
}

.submit-btn:hover,
.cancel-btn:hover {
    opacity: 0.9;
}

.submit-btn i,
.cancel-btn i {
    margin-right: 5px;
}

input[type="text"]:disabled,
input[type="number"]:disabled,
textarea:disabled,
select:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

input[type="text"]:disabled:focus,
input[type="number"]:disabled:focus,
textarea:disabled:focus,
select:disabled:focus {
    background-color: #e0e0e0;
    border-color: #ddd;
    outline: none;
}

.error-message {
    color: var(--warning-color);
    font-size: 0.9rem;
    margin-top: 10px;
}


.toolbar {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 5px 5px 5px 10px;
    border: 1px solid #ccc;
    position: sticky;
    top: -30px;
    z-index: 1  ;
}

.toolbar button,
.toolbar input[type="color"],
.toolbar select {
    padding: 5px;
    border: none;
    border-radius: 3px;
    background-color: var(--main-bg);
    color: var(--font-color);
    font-size: 16px;
    cursor: pointer;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.toolbar button:hover,
.toolbar select:hover {
    background-color: var(--main-color);
}

.toolbar i {
    font-size: 16px;
}

#heading-dropdown {
    width: 36px;
    height: 36px;
    background-color: var(--main-bg);
    border: none;
    padding: 0;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#color-picker {
    width: 36px;
    height: 36px;
    padding: 0;
    background: none;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#color-picker::after {
    content: "A";
    font-size: 16px;
    color: var(--font-color);
    position: absolute;
    bottom: 5px;
    left: 10px;
    border-bottom: 3px solid currentColor;
    display: block;
}

#color-picker input[type="color"] {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.toggle-view-button {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    color: var(--secondary-font-color);
    font-size: 16px;
    cursor: pointer;
    margin-right: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.toggle-view-button:hover {
    background-color: rgb(10, 199, 241);
}

.toggle-view-button i {
    margin-right: 5px;
}

#output {
    display: none;
    border: 1px solid #ccc;
    padding: 30px;
    margin-top: 10px;
    line-height: 1.5;
    min-height: 600px;
    background: #f9f9f9;
}

.image-thumb {
    max-height: 200px;
    object-fit: cover;
}

.image-path-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.image-path-input {
    flex-grow: 1;
    margin-right: 10px;
}

a.delete-image {
    border: none;
    background-color: var(--warning-color);
    width: 30px;
    height: 30px;
    color: var(--secondary-font-color);
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
}



@media (max-width: 768px) {
    .edit-product-form {
        padding: 15px;
    }
}
