@import url(../root.css);


textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: monospace;
    font-size: 14px;
    resize: vertical;
}

button {
    background-color: var(--main-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-color);
}

.back-button {
    display: inline-block;
    background-color: var(--main-color);
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.back-button:hover {
    background-color: var(--secondary-color);
}

.cancel-button {
    display: inline-block;
    background-color: var(--warning-color);
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
}

.cancel-button:hover {
    background-color: #c82333;
}