@import url(../root.css);
.login-container {
    margin-inline: auto;
    padding: 80px;
    border-radius: 8px;
    max-width: 600px;
}


.input-container {
    margin-bottom: 20px;
}

.input-container label {
    line-height: 15px;
    display: block;
    margin-bottom: 5px;
    color: var(--font-color);
}

.input-container #password {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.input-container #remember {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.input-container .remember-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
}

.input-container input:focus {
    border-color: var(--main-color);
}

.login-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: var(--main-color);
    color: var(--secondary-font-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: var(--secondary-color);
}