@import url(../root.css);


.orders-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.order-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: var(--main-bg);
    transition: background-color 0.3s ease;
    width: 100%;
}

.order-item:hover {
    background-color: var(--secondary-bg);
}

.order-info {
    flex: 1;
    margin-right: 20px;
}

.order-info h3 {
    color: var(--main-color);
    font-size: 1.2rem;
    margin: 0;
}

.order-info p {
    font-size: 0.9rem;
    color: var(--third-font-color);
}

.order-total {
    margin-inline: 30px;
    font-size: 1.2rem;
    color: var(--font-color);
    margin-bottom: 5px;
}

.order-status {
    width: 55px;
    text-align: right;
    font-size: 1.2rem;
    color: var(--font-color);
    margin-bottom: 5px;
    margin-right: 20px;
}

.order-actions {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 8px 15px;
    font-size: 0.9rem;
    color: var(--secondary-font-color);
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

.view-btn {
    background-color: #2196F3;
}

.edit-btn {
    background-color: var(--secondary-color);
}

.delete-btn {
    background-color: #f44336; /* Red color */
}

.btn:hover {
    opacity: 0.9;
}

.product-filters {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.product-filters > div, form {
    width: 100%;
}

.product-filters .search-bar input,
.product-filters .sort-options select,
.product-filters .filter-menu select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
}
